{
  "servers": {
    "docker-agent": {
      "type": "stdio",
      "command": "docker",
      "args": [
        "run",
        "-i",
        "--rm",
        "-e",
        "DOCKER_SERVERS",
        "ghcr.io/florentb974/docker-mcp:latest"
      ],
      "env": {
        "DOCKER_SERVERS": "local:socket:/var/run/docker.sock,remote:192.168.1.100:2735:http"
      }
    }
  }
}